.navCenter{
    display: flex;
}
.box-icon{
    border: 2px solid white;
    width: 518px;
    border-radius: 100px;
    background-color: black;
    height: 32px;
    display: flex;
    
}
.input{
    border: none;
    width: 471px;
    border-radius: 100px;
    
}
.icon{
    color: black;
}
.search-icon{
    color: red;
}
.mic-icon{
    /* border: 2px solid red; */
    border-radius: 150px;
    width: 44px;
    background-color:white;
    color: black;
    text-align: center;
}
#mic{
    height: 35px;
    margin-left: 34px;
}
#mics{
    margin-top: 6px;
}

#search{
    height: 29px;
}

#searchicon{
    margin-top: 15px;
    margin-left: 4px;
}